<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Empty Cart</title>
</head>
<body>
    <div>
        <h1>Cart Empty</h1>
        <p>Add items to your basket to view your cart.</p>
        <br />
        @Html.ActionLink("Continue Shopping", "Index", "Menu", null, new { @class = "btn btn-info" })

    </div>
</body>
</html>
