<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Confirmation</title>
</head>
<body>
    <div>
        <h2>Order Confirmed</h2>
        <hr />
        <p>Thank you for your order - your order has been confirmed and will be ready in 15 minutes.</p>
        <br />
        @Html.ActionLink("Continue Shopping", "Index", "Menu", null, new { @class = "btn btn-info btn-lg" })
   
    </div>
</body>
</html>
